[Unit]
Description=Bulba1 Training
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/bulba1-python
ExecStart=/usr/bin/uv run -m bulba1.cli --config ${CONFIG_PATH} --auto
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=%h/bulba1-python/services/.env
StandardOutput=append:%h/bulba1-python/logs/%i.log
StandardError=append:%h/bulba1-python/logs/%i.log
Restart=no

[Install]
WantedBy=default.target
Restart=no

[Install]
WantedBy=default.target